.git
.gitignore
node_modules
.next
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.pem
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.turbo
dist
coverage