name: Build Installers

on:
  push:
    # Run Action only when /docker/platerec_installer is pushed to
    paths:
      - 'docker/platerec_installer/**'
  workflow_dispatch:

jobs:
  windows-installer:
    name: Windows
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Installer
      run: docker run -v $GITHUB_WORKSPACE/docker/platerec_installer:/src/ danleyb2/pyinstaller-windows "pyinstaller platerec_installer.spec -F"
    - uses: actions/upload-artifact@v4
      with:
        name: Windows-Installer-unsigned
        path: docker/platerec_installer/dist

  linux-installer:
    name: Linux
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Installer
      run: docker run -v $GITHUB_WORKSPACE/docker/platerec_installer:/src/ cdrx/pyinstaller-linux "pyinstaller platerec_installer.spec -F"
    - uses: actions/upload-artifact@v4
      with:
        name: PlateRecognizer-Installer-Linux
        path: docker/platerec_installer/dist/PlateRecognizer-Installer

  test-windows-installer:
    runs-on: windows-latest
    needs: windows-installer
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: Windows-Installer-unsigned
          path: dist
      - name: Test local api
        run: |
          cmd /c "START /b D:\a\deep-license-plate-recognition\deep-license-plate-recognition\dist\PlateRecognizer-Installer.exe"
          ping 127.0.0.1 -n 6 > nul
          netstat -o -n -a | findstr 8050
          curl -X GET "http://localhost:8050"

  mac-installer:
    runs-on: macos-latest
    name: MacOS
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: 3.8.10
    - name: Build Installer
      run: |
        cd docker/platerec_installer
        pip install --upgrade pip
        pip install -r requirements.txt pyinstaller==6.15.0
        pyinstaller platerec_installer.spec -F
        chmod -R +x dist
    - uses: actions/upload-artifact@v4
      with:
        name: PlateRecognizer-Installer-MacOS
        path: docker/platerec_installer/dist/*

